{:cljs {clj-kondo {:mvn/version "2020.04.05"}
        integrant {:mvn/version "0.8.0"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        org.clojure/tools.namespace {:mvn/version "1.0.0"}
        reagent {:mvn/version "1.0.0-alpha1"}}

 :npm {"chokidar" "3.4.0"
       "fs-extra" "9.0.1"
       "react" "16.13.0"
       "react-dom" "16.13.0"
       "sass" "1.26.8"
       "shadow-cljs" "2.9.3"}}