{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}
        org.clojure/tools.namespace {:mvn/version "0.3.1"}
        me.raynes/fs {:mvn/version "1.4.6"}
        garden {:mvn/version "1.3.9"}}

 :aliases
 {;; Installs dependencies and then does nothing.
  ;; Roughly equivalent to lein deps
  :install-deps
  {:main-opts ["-e" "nil"]}
  
  :dev
  {:extra-paths ["dev" "test"]}
  
  :test
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                           :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"]}

  :shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.8.81"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
