{:source-paths ["src" "test"]

 :deps {:aliases [:shadow-cljs]}

 :nrepl {:middleware [cider.nrepl/cider-middleware
                      refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:cli {:target :node-script
        :output-to "target/cli-dev/main.js"
        :main xyz.dking.css-gardener.cli.main/main
        :closure-defines {xyz.dking.css-gardener.cli.main/RUN_MAIN false}
        :source-map false
        :release
        {:output-to "target/cli/main.js"
         :closure-defines {xyz.dking.css-gardener.cli.main/RUN_MAIN true}}}
  :cli-test {:target :node-test
             :output-to "target/cli-test/main.js"
             :dev {:autorun true}}}}
