{:source-paths ["src" "test"]

 :dependencies [[com.stuartsierra/component "0.4.0"]
                [orchestra "2018.12.06-2"]]

 :nrepl {:port 8081}

 :builds
 {:main {:target :node-script
         :output-to "target/main-dev/main.js"
         :main xyz.dking.css-gardener.main/main
         :closure-defines {xyz.dking.css-gardener.main/RUN_MAIN false}
         :source-map false
         :release
         {:output-to "target/main/main.js"
          :closure-defines {xyz.dking.css-gardener.mair/RUN_MAIN true}}}
  :main-test {:target :node-test
              :output-to "target/main-test/main.js"
              :dev {:autorun true}}
  :cli {:target :node-script
        :output-to "target/cli-dev/main.js"
        :main xyz.dking.css-gardener.cli.main/main
        :closure-defines {xyz.dking.css-gardener.cli.main/RUN_MAIN false}
        :source-map false
        :release
        {:output-to "target/cli/main.js"
         :closure-defines {xyz.dking.css-gardener.cli.main/RUN_MAIN true}}}}}
