{:linters {:missing-docstring {:level :warning}
           :unsorted-required-namespaces {:level :warning}}
 :lint-as {css-gardener.core.utils.testing/with-system clojure.core/let
           css-gardener.core.utils.testing/deftest-async clojure.test/deftest}}